{{!-- HEADER --}}

{{!-- END HEADER --}}
<div class="big-container">
  <header class="header">
    <nav class="nav-wrapper flexed-item">
      <div class="nav-link-wrapper flexed-item">
        <i class="icon mobile fa fa-bars"></i>
        <div class="nav-logo">
          <a href="/" class="flexed-item">
            <span class="logo-item circle"></span>
            <h2 class="logo-item">IRONSNACK</h2>
          </a>
        </div>
        <ul class="nav-link flexed-item">
          <li class="nav-item animated-link">
            <a href="/products/all">All products</a>
          </li>
          <li class="nav-item animated-link">
            <a href="/products/sweet">Sweet snacks</a>
          </li>
          <li class="nav-item animated-link">
            <a href="/products/salt">Salty snacks</a>
          </li>
          <li class="nav-item animated-link">
            <a href="/products/drink">Drinks</a>
          </li>
          {{#if isAdmin}}
          <li class="nav-item animated-link nav-item-admin">
            <a href="/products/prod-add">Add product</a>
          </li>
          <li class="nav-item animated-link nav-item-admin">
            <a href="/prod-manage">Manage products</a>
          </li>
          {{/if}}
        </ul>
      </div>
      <div class="flexed-item nav-end">
        {{#unless isLoggedIn}}
        <a href="/auth/signin" id="nav_login" class="button-ternary flexed-item nav-end-item">
          <span class="btn-text">Sign in</span>
        </a>
        {{/unless}}
        {{#if isLoggedIn}}
        <a href="/auth/logout" id="nav_logout" class="button-ternary flexed-item nav-end-item">
          <span class="btn-text">Log out</span>
        </a>
        <a href="/cart"> <i class="fas fa-shopping-cart shop-cart-icon nav-end-item"></i></a>
        <a href="/user" <i class="fa fa-user"></i></a>
        {{/if}}


      </div>
    </nav>
  </header>
</div>