<aside id="sidebar_main">
    <nav id="nav_sidebar">
        <a class="link" href="/products/all">All products</a>
        <a class="link" href="/products/sweet">Sweet snacks</a>
        <a class="link" href="/products/salt">Salty snacks</a>
        <a class="link" href="/products/drink">Drinks</a>
        <a class="link" href="/auth/logout">Log out</a>
        <a href="/cart"><i class="fas fa-shopping-cart shop-cart-icon nav-end-item"></i></a>
        {{!-- <i class="fa fa-user"></i> --}}
    </nav>
</aside>