<div class="cart-container">
    <div class="square">
        <span class="empty-cart"> You have never placed any order yet.<br><br> Let's check all the products!
            <a href="/products/all"> <button class="button-view">View products</button></a></span>
    </div>
</div>