<div class="cart-container">
    <div class="square"> </div>
    {{#unless food}}
    <span class="empty-cart"> You have never placed <br>any order yet.<br><br> Let's check <br>all the products!
        <div class="button">
            <a href="/products/all"> <button class="button-view">View products</button></div></a>
    </span>
    {{/unless}}
</div>

<section class="container content-section">
    <h3 class="section-header form-title">CART</h3>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">
    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">€0</span>
    </div>
    <button class="btn btn-primary btn-pick" type="button">PICK IT UP</button>
</section>