<div class="cart-container">
    <div class="square">
        <span class="empty-cart"> You have never placed any order. Let's check all the products!</span>
        <a href="/products/all"> <button class="button-view">View products</button></a>
    </div>
</div>