<div class="home-container">
  <div class="square-hp"></div>
  <span class="bloc-hp"> Are you hungry? <br> Exhausted?
    <div class="buttons">
      <a href="/products/all"> <button class="button-view">Yes</button></a>
      <a href="/products/all"> <button class="button-view">Yes</button></a></div></span></span>


</div>