<!DOCTYPE html>
<html lang="en">

<head>
  {{> shop_head}}
</head>

<body>
  <header id="header_main">
    {{> icon_mobile }}

    {{> shop_nav}}
  </header>
  {{> shop_nav_mobile }}
  <main id="main_content">
    {{> side_main}}
    {{{ body }}}
  </main>

  {{> icon_mobile }}
</body>
{{> shop_footer}}

</html>