<div class="validated-container">
  <div class="square-validated"></div>
  <span class="bloc-validated"> Your order has been confirmed! <br><br>
    Come pick up your Ironsnacks at the counter.
  </span>
  </span>


</div>