<div class="big-container product-manage-wrapper flexed-item">
  <form action="/products/prod-add" method="post" class="add-product-form" enctype="multiparty/form-data">
    {{#if msg}}
    <p class="msg {{msg.statut}}">{{msg.txt}}</p>
    {{/if}}
    <h3 class="form-title">Add Products to the invotary</h3>
    <div class="form-item-wrapper flexed-item">
      <label for="product-name" class="label-name label"> Name</label>
      <input id="product-name" type="text" class="input-text input" placeholder="Hungry ?">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="product-ref" class="label-ref label">Réf.</label>
      <input id="product-ref" type="text" class="input-text input" placeholder="ex: CHOC23">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="product-descr" class="label-descr label">Description</label>
      <input id="product-descr" type="text" class="input-text input" placeholder="Have a break">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="product-price" class="label-price label">Price</label>
      <input id="product-price" type="number" class="product-price input" min="1">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="product-img" class="label-price label">Image</label>
      <input id="product-img" type="file" class="sneacker-price input">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="category" class="label-main-cat label">Main category</label>
      <select id="category" class="select" required>
        <option value="-1" disabled selected>Choose a category</option>
        <option value="sweet">Sweet snacks</option>
        <option value="salt">Salty snacks</option>
        <option value="drink">Drinks</option>
      </select>
    </div>
    <button class="button-primary add-sneacker-btn">Add to invotary</button>
  </form>
</div>