<div class="big-container product-manage-wrapper flexed-item">
    <form action="/user" method="POST" class="add-product-form">
        <h3 class="form-title">Personal information</h3>
        <div class="form-item-wrapper flexed-item">
            <label for="user-firstname" class="label-firstname label"> Firstname</label>
            <input id="user-firstname" type="text" class="input-text input" placeholder="Firstname" name="firstname"
                value="{{user.firstname}}" required>
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="user-lastname" class="label-lastname label"> Lastname</label>
            <input id="user-lastname" type="text" class="input-text input" placeholder="Lastname" name="lastname"
                value="{{user.lastname}}" required>
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="user-email" class="label-email label">Email</label>
            <input id="user-email" type="text" class="input-text input" placeholder="Email" name="email"
                value="{{user.email}}" required>
        </div>
        <button class="button-primary add-sneacker-btn">Save</button>
    </form>
</div>