.cart-container {
  height: calc(100vh - (84px));
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  /* background: black; */
  width: 100%;
  /* background-image: url("https://res.cloudinary.com/duehv29iq/image/upload/v1568110740/ali-yahya-7_AZi5Fe-rU-unsplash_wdfmiz.jpg"); */
  background-color: lightgrey;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: -1;
}

h3 {
  color: black;
}
.opacity {
  height: 70%;
  background-color: antiquewhite;
  width: 700px;
  /* display: flex;
  justify-content: center;
  align-content: center; */
}
.button-view {
  padding: 10px;
  margin-top: 20px;
  background-color: #f5ae02;
  opacity: 1;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  z-index: 999;
}

.button-view:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.square {
  background-color: gray;
  opacity: 0.8;
  min-width: 220px;
  max-width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 1;
}

.empty-cart {
  /* padding: 60px;
  color: white;
  font-size: 23px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center; */
  padding-top: 190px;
  padding-left: 15px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: flex-start; */
  align-items: flex-start;
  align-content: center;
  position: absolute;
  z-index: 999;
  text-align: center;
}

.button {
  padding-left: 25px;
}

/* 


.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}
*/

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em 0.67em;
  cursor: pointer;
}

.btn-primary {
  color: white;
  background-color: #f5ae02;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
  width: 180px;
  /* display: flex;
  justify-self: center; */
}

.btn-pick {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.55em;
}

.pick-up {
  color: black;
}

.flex-button {
  display: flex;
  justify-content: center;
}

.sneak-img {
  height: 100px;
  width: auto;
}

.img-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.sneak-price {
  color: black;
  font-weight: bold;
}

.sneak-name {
  font-size: 20px;
}

.sneak-info-header {
  display: flex;
  justify-content: flex-start;
}

.total-flex {
  display: flex;
  justify-content: center;
}
