.cart-container {
  height: calc(100vh - (84px));
  overflow: hidden;
  /* display: flex; */
  /* justify-content: center; */
  background: black;
  width: 100%;
  background-image: url("https://res.cloudinary.com/duehv29iq/image/upload/v1568110740/ali-yahya-7_AZi5Fe-rU-unsplash_wdfmiz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.square {
  background-color: gray;
  opacity: 0.8;
  min-width: 220px;
  max-width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
}

.empty-cart {
  padding: 60px;
  color: white;
  font-size: 23px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-view {
  padding: 20px;
  background-color: rosybrown;
  color: white;
  font-size: 18px;
  font-weight: bolder;
}
