.home-container {
  height: calc(100vh - (84px));
  overflow: hidden;
  /* display: flex; */
  /* justify-content: center; */
  background: black;
  width: 100%;
  background-image: url("https://res.cloudinary.com/duehv29iq/image/upload/v1568020400/igor-starkov-j3e5c72LAuc-unsplash_t4dzsg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* .img-home {
  width: 60%;
} */
