/* SIGNUP */

.sign.form-container {
  height: calc(100vh - (84px));
  background-image: url("../medias/img/coffee-sign.jpg");
  overflow: hidden;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.2rem;
  margin-top: 20px;
}

.sign.form-container .form-title {
  font-size: 2.3em;
  font-weight: 700;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#form_user .form-item-wrapper:last-child {
  margin-bottom: 1.2rem;
}

#form_user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#form_user .form-item-wrapper {
  width: 30%;
}

.form-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.form-sub-infos {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#form_user .button-primary {
  margin: 1.5rem 0 1rem 0;
}

.button-link-form {
  color: rgb(52, 52, 255);
  padding-bottom: 0.1rem;
}

.button-link-form:hover {
  color: rgb(52, 52, 255);
  border-bottom: 1px solid rgb(52, 52, 255);
}

.label {
  color: white;
}
