.one-product-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: calc(100vh - (84px));
}
.one-product-container > * {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sneak-info-header {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sneak-name {
  font-size: 2.3rem;
  font-weight: 700;
}

.sneak-description {
  font-size: 1rem;
}

.sneak-ref {
  margin-top: 0.5rem;
  color: rgb(151, 151, 151);
}
.sneak-select {
  width: 135px;
  margin-right: 1rem;
}

.shop-cart-icon-page {
  color: white;
  font-size: 0.7rem;
  margin-left: 0.2rem;
}

.sneak-img-container {
  display: grid;
  grid-template-columns: 35% 60%;
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 2%;
  width: 100%;
  margin: 0 auto;
}

.sneak-img {
  height: 100%;
}

#main-content {
  width: 100%;
  background-image: url("https://res.cloudinary.com/duehv29iq/image/upload/v1568131411/p-p_dqjyro.png");
}

.button-primary {
  width: 136px;
}
